@charset "UTF-8";

.wave {
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  position: absolute;
}
.wave-lg {
  height: 200vh;
}
@media screen and (max-width: 900px){
	.wave{
		display: none;
	}
}




.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.navbar-brand > span {
  color: #0d6efd;
  display:inline-block;
}

.w-badge {
  width: 100px;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.card-cover .d-flex {
background: rgba(0,0,0,.25);
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 25%);
}

.bg-light-gray {
  background-color: #f0f0f0!important
}

.border-left {
  border-left: 1px solid #dee2e6!important;
}