@charset "UTF-8";

.wave {
  bottom: 0;
  z-index: -1;
  height: 100%;
  position: fixed;
}
.wave-lg {
  height: 200vh;
}

.wave-l {
  left: 0;
}
.wave-r {
  right: 0;
}
.wave-t {
  top: 0;
  right: 0;
  position: absolute;
}
@media screen and (max-width: 900px) {
  .wave {
    display: none;
  }
}
.forms-contain input {
  background-color: #f0f0f0;
}
.forms-contain .form-floating,
.forms-contain .btn {
  min-width: 380px;
}

.h-span {
  height: 140px;
}

.contain{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img,
.form-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.landing-content {
	display: flex;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

.form-content form {
	width: 360px;
}

@media screen and (max-width: 1050px){
	.contain{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}
}

@media screen and (max-width: 900px){
	.contain{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}




.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.navbar.position-fixed {
  z-index: 1;
}

.navbar-brand > span {
  color: #0d6efd;
  display:inline-block;
}

.w-badge {
  width: 100px;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.card-cover .d-flex {
background: rgba(0,0,0,.25);
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 25%);
}