@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

body {
  /* color: #5e6e82!important; */
  background-color: #edf2f9!important;

  /* Peach BG */
  /* background-color: hsl(16deg 67% 95%)!important; */
  /* #f4d4c8 */
  

  /* background-color: rgba(237,242,249,.96) !important; */
}
.bg-purple {
  background-color: #0d6efd;
}
.rounded {
  border-radius: 0.25rem !important;
}